<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.seasar.s2junit4plugin.objectContribution"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <menu
               id="org.seasar.s2junit4plugin.objectContribution.menu"
               label="S2JUnit4"
               path="additions">
            <separator
                  name="additions">
            </separator>
            <groupMarker
                  name="additions2">
            </groupMarker>
         </menu>
         <action
               class="org.seasar.s2junit4plugin.action.JUnitDebugAction"
               definitionId="org.seasar.s2junit4plugin.command.JUnitDebugAction"
               id="org.seasar.s2junit4plugin.action.JUnitDebugAction"
               label="%JUnitDebugAction.label"
               menubarPath="org.seasar.s2junit4plugin.objectContribution.menu/additions">
         </action>
         <action
               class="org.seasar.s2junit4plugin.action.JUnitRunAction"
               definitionId="org.seasar.s2junit4plugin.command.JUnitRunAction"
               id="org.seasar.s2junit4plugin.action.JUnitRunAction"
               label="%JUnitRunAction.label"
               menubarPath="org.seasar.s2junit4plugin.objectContribution.menu/additions">
         </action>
         <action
               class="org.seasar.s2junit4plugin.action.OpenTestingPairAction"
               definitionId="org.seasar.s2junit4plugin.command.OpenTestingPairAction"
               id="org.seasar.s2junit4plugin.action.OpenTestingPairAction"
               label="%OpenTestingPairAction.label"
               menubarPath="org.seasar.s2junit4plugin.objectContribution.menu/additions">
               <enablement>
                  <or>
                  <objectClass
                        name="org.eclipse.jdt.core.IMember">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.core.ICompilationUnit">
                  </objectClass>
               </or>
               </enablement>
         </action>
                  <action
               class="org.seasar.s2junit4plugin.action.OpenDiconPairAction"
               definitionId="org.seasar.s2junit4plugin.command.openDiconPair"
               icon="icons/skip.gif"
               id="org.seasar.s2junit4plugin.action.openDiconPair"
               label="Open TestCase Dicon Pair"
               menubarPath="org.seasar.s2junit4plugin.objectContribution.menu/additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.seasar.s2junit4plugin.objectContribution.diconFile"
            nameFilter="*.dicon"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.seasar.s2junit4plugin.action.OpenClassPairAction"
               definitionId="org.seasar.s2junit4plugin.command.openDiconPair"
               icon="icons/skip.gif"
               id="org.seasar.s2junit4plugin.action.openClassPair"
               label="Open TestCase Class Pair"
               menubarPath="org.seasar.s2junit4plugin.objectContribution.menu/additions">
         </action>
      </objectContribution>
      <viewerContribution
            id="org.seasar.s2junit4plugin.viewerContribution.diconFile"
            targetID="#TextEditorContext">
         <action
               class="org.seasar.s2junit4plugin.action.OpenClassPairAction"
               definitionId="org.seasar.s2junit4plugin.command.openClassPair"
               icon="icons/skip.gif"
               id="org.seasar.s2junit4plugin.action.openClassPair"
               label="Open TestCase Class Pair"
               menubarPath="org.seasar.s2junit4plugin.objectContribution.menu/additions2">
         </action>
         <menu
               id="org.seasar.s2junit4plugin.viewerContribution.menu"
               label="S2JUnit4"
               path="additions">
            <separator
                  name="additions">
            </separator>
         </menu>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.seasar.s2junit4plugin.command.OpenTestingPairAction"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+9">
      </key>
      <key
            commandId="org.seasar.s2junit4plugin.command.JUnitRunAction"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+0">
      </key>
      <key
            commandId="org.seasar.s2junit4plugin.command.JUnitDebugAction"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+0">
      </key>
      <key
            commandId="org.seasar.s2junit4plugin.command.openClassPair"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+9">
      </key>
      <key
            commandId="org.seasar.s2junit4plugin.command.openDiconPair"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+9">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%Category.description"
            id="org.seasar.s2junit4plugin.category"
            name="%Category.name">
      </category>
      <command
            categoryId="org.seasar.s2junit4plugin.category"
            description="%OpenTestingPairAction.description"
            id="org.seasar.s2junit4plugin.command.OpenTestingPairAction"
            name="%OpenTestingPairAction.label">
      </command>
      <command
            categoryId="org.seasar.s2junit4plugin.category"
            description="%JUnitRunAction.description"
            id="org.seasar.s2junit4plugin.command.JUnitRunAction"
            name="%JUnitRunAction.label">
      </command>
      <command
            categoryId="org.seasar.s2junit4plugin.category"
            description="%JUnitDebugAction.description"
            id="org.seasar.s2junit4plugin.command.JUnitDebugAction"
            name="%JUnitDebugAction.label">
      </command>
      <command
            categoryId="org.seasar.s2junit4plugin.category"
            id="org.seasar.s2junit4plugin.command.openDiconPair"
            name="Open TestCase Dicon Pair">
      </command>
      <command
            categoryId="org.seasar.s2junit4plugin.category"
            id="org.seasar.s2junit4plugin.command.openClassPair"
            name="Open TestCase Class Pair">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.seasar.s2junit4plugin.editorContribution"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor">

         <menu
               id="org.seasar.s2junit4plugin.editorContribution.menu"
               label="S2JUnit4"
               path="Edit/additions">
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.seasar.s2junit4plugin.action.JUnitDebugAction"
               definitionId="org.seasar.s2junit4plugin.command.JUnitDebugAction"
               id="org.seasar.s2junit4plugin.action.JUnitDebugAction"
               label="%JUnitDebugAction.label"
               menubarPath="Edit/org.seasar.s2junit4plugin.editorContribution.menu/additions">
         </action>
         <action
               class="org.seasar.s2junit4plugin.action.JUnitRunAction"
               definitionId="org.seasar.s2junit4plugin.command.JUnitRunAction"
               id="org.seasar.s2junit4plugin.action.JUnitRunAction"
               label="%JUnitRunAction.label"
               menubarPath="Edit/org.seasar.s2junit4plugin.editorContribution.menu/additions">
         </action>
         <action
               class="org.seasar.s2junit4plugin.action.OpenTestingPairAction"
               definitionId="org.seasar.s2junit4plugin.command.OpenTestingPairAction"
               id="org.seasar.s2junit4plugin.action.OpenTestingPairAction"
               label="%OpenTestingPairAction.label"
               menubarPath="Edit/org.seasar.s2junit4plugin.editorContribution.menu/additions">
         </action>
         <action
               class="org.seasar.s2junit4plugin.action.OpenDiconPairAction"
               definitionId="org.seasar.s2junit4plugin.command.openDiconPair"
               icon="icons/skip.gif"
               id="org.seasar.s2junit4plugin.action.openDiconPair"
               label="Open TestCase Dicon Pair"
               menubarPath="Edit/org.seasar.s2junit4plugin.editorContribution.menu/additions">
         </action>

      </editorContribution>
      <editorContribution
            id="org.seasar.s2junit4plugin.editorContribution.diconEditor"
            targetID="org.seasar.kijimuna.ui.editor.dicon">
         <action
               class="org.seasar.s2junit4plugin.action.OpenClassPairAction"
               definitionId="org.seasar.s2junit4plugin.command.openDiconPair"
               icon="icons/skip.gif"
               id="org.seasar.s2junit4plugin.action.openClassPair"
               label="Open TestCase Class Pair"
               menubarPath="Edit/org.seasar.s2junit4plugin.editorContribution.menu/additions">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.seasar.s2junit4plugin.preference.QuickJUnitPreferencePage"
            id="org.seasar.s2junit4plugin.page.QuickJUnitPreferencePage"
            name="S2JUnit4">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.seasar.s2junit4plugin.preference.S2JUnit4PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.seasar.s2junit4plugin.actionSet.openClassPair"
            label="Open TestCase Class Pair"
            visible="true">
         <action
               class="org.seasar.s2junit4plugin.action.OpenClassPairAction"
               definitionId="org.seasar.s2junit4plugin.command.openClassPair"
               id="org.seasar.s2junit4plugin.action.openClassPair"
               label="Open TestCase Class Pair">
         </action>
      </actionSet>
   </extension>

</plugin>
